
# -- --------------------------------------------------------------------------------------------------- -- #
# -- Project: LucidNet                                                                                   -- #
# -- Description: A Lightweight Framework for Transparent and Interpretable FeedForward Neural Net       -- #
# -- requirements.txt: A text file with python libraries required for the project                        -- #
# -- Author: IFFranciscoME - if.francisco.me@gmail.com                                                   -- #
# -- License: GPL-3.0 License                                                                            -- #
# -- Repository: https://github.com/IFFranciscoME/LucidNet                                               -- #
# -- --------------------------------------------------------------------------------------------------- -- #

# Run the following in bash console:
# $ pip instal -r requirements.txt

# -- Data science tools
scikit-learn>=0.23
statsmodels>=0.12.2

# -- Generic
pandas>=1.1.4
numpy>=1.20

# -- Data download
ccxt>=1.42

# -- Complementary
rich>=9.5
requests>=2.24

# -- Visualization
plotly>=4.12
chart_studio>=1.1.0
jupyter>=1.0
matplotlib>=3.4.1
seaborn>=0.11.1
